package main

import (
	"os"
	"os/exec"
	"path/filepath"
)

func main() {
	ex, err := os.Executable()
	if err != nil {
		panic(err)
	}
	exPath := filepath.Dir(ex)
	python_local_path := filepath.Join(filepath.Join(exPath, "bin"), "python.exe")
	cmd := exec.Command("cmd.exe", "/c", python_local_path, "%{ENTRYPOINT}%")
	cmd.Stdin = os.Stdin
	cmd.Stdout = os.Stdout
	cmd.Stderr = os.Stderr
	_ = cmd.Run() // add error checking
}
